@import url("https://fonts.googleapis.com/css2?family=Merienda&family=MuseoModerno:wght@600&family=Roboto:wght@100&display=swap");

.container.navbar {
  max-width: 1100px
}
.row-cols-auto.align-items-center{
  a{
    text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 25px;
  color: white;
  }
}