@import url("https://fonts.googleapis.com/css2?family=Merienda&family=MuseoModerno:wght@600&family=Roboto:wght@100&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Merienda;
  color: white
}
body {
  /* background: url('/img/background.png'); */
  background-size: fill;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  margin: 0;
  
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.menu {
  padding-top: 30px;
  background: url("/Users/artemijkolotov/Documents/VSCode/MiddleTrainCoffee/my-app/src/img/background.png");
  background-size: fill;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  padding-bottom: 200px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.navbar_item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 25px;
  
}
h1{margin-top: 50px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
  
a {
  text-decoration: none;
}
.symbol_coffee {
  width: 79px;
  height: 28.38px;
  margin-right: -20px;
}
.symbol_item {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
}

.symbol_bat {
  margin-right: 34px;
}

.label {
  margin-right: 20px;
}
.hero {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h2 {
  margin: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.more {
  cursor: pointer;
  background: rgba(0, 0, 0, 0);  
  border: 1px solid white;
  padding: 10px 42px;
  border-radius: 8px;
  outline: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}