@import "../../../variables.scss";
.info-block .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    img {
        margin: 20px 0px
    }
    h2, p, span, b, sup{
        color: $main-color;
    };
    p {
        text-align: center;
    }

}