.best-items {
    background: url('../../../../../img/BackgroundBrown.png');
    padding-top: 60px;
    padding-bottom: 110px;
    p,span,h2 {
        color: hsl(0, 0%, 0%);
        text-align: center;
    }
}